h2 {
    color: #5a88b7;
    font-size: 2.5rem;
    margin: 0;
    width: fit-content;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.958);
    background-color: rgba(51, 51, 51, 0.9);
    box-sizing: border-box;
    width: 100%;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}